    </div>
    <!-- End of site content -->
    <footer class="ui vertical footer primary segment">
        <div class="ui  container">
            <div class="ui stackable divided grid">
                <div class="three wide column">
                    <h4 class="ui header">About</h4>
                    <div class="ui link list">
                        <a class="item" href="#">Sitemap</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui header">Social Media</h4>
                    <div class="ui link list">
                        <a class="item" href="#">Twitter</a>
                        <a class="item" href="#">Instagram</a>
                        <a class="item" href="#">Pinterest</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui header">Help Feed Cheryl</h4>
                    <p>Support Cheryl so she doesn't have to do web development while living in a shoebox.</p>
                    <button class="ui large basic button">Donate Today</button>
                </div>
            </div>
        </div>
    </footer>
    <script>
          $('#summernote').summernote({
            placeholder: 'Give me content, please!',
            tabsize: 2,
            height: 100
          });
    </script>
  </body>
</html>