<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>A Simple Life</title>
    <!-- include libraries(jQuery, bootstrap) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <!-- Summernote Links -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
    
    <!-- Semantic UI links-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    
    
  </head>
  <body>
    
    <!-- Navbar -->
    <nav class="ui fixed menu">
        <div class="ui container">
            <a href="/" class="header item"><i class="keyboard icon"></i>A Simple Life</a>
            <a href="/blogs/new" class="item">New Post</a>
            <a href="#" class="item">About</a>
            <a href="#" class="item">Contact</a>
        </div>
    </nav>
    
    <!-- Begin site content -->
    <div id="content" class="ui container">