<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">Edit</div>
    <form action="/blogs/<%=post.id%>?_method=PUT" method="POST" class="ui form">
        <div class="field">
            <label>Blog Title
                <input type="text" name="blog[title]" value="<%=post.title%>">
            </label>
        </div>
        <div class="field">
            <label>Image Link
                <input type="text" name="blog[image]" value="<%=post.image%>">
            </label>
        </div>
        <div class="field">
            <label>Blog Post</label>
            <textarea id="summernote" name="blog[body]"><%=post.body%></textarea>
        </div>
        <button type="submit" formaction="/blogs/<%=post.id%>" formmethod="GET" class="ui button">Cancel</button>

        <!--TODO: MAKE SURE DELETE BUTTON METHOD-OVERRIDE WORKS -->
        <button type="submit" formaction="/blogs/<%=post.id%>?_method=DELETE" formmethod="POST" class="ui red button">Delete</button>
        
        <input type="submit" class="ui button" value="Publish">
    </form>
</div>

<% include ./partials/footer %>