<% include ./partials/header %>

<div class="ui padded container">
    <div class="ui padded stackable grid">
        <% blogs.forEach(function(e){ %>
            <div class="five wide column">
                <a href="/blogs/<%=e.id%>">
                    <img class="ui bordered medium rounded image" src="<%= e.image %>">
                    <h2><%= e.title %></h2>
                </a>
                <span class="date"><%= e.created.toDateString() %></span>
                <p> <%- e.body.substring(0,107) %> ...
                    <a href="/blogs/<%=e.id%>">Read More</a>
                    </p>
                <div class="ui divider"></div>
            </div>
        <% }); %>
    </div>
</div>
<% include ./partials/footer %>