<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog Post</div>
    <form action="/blogs" method="POST" class="ui form">
        <div class="field">
            <label>Blog Title
                <input type="text" name="blog[title]" placeholder="Give me a name!">
            </label>
        </div>
        <div class="field">
            <label>Image Link
                <input type="text" name="blog[image]" placeholder="Give me a picture...">
            </label>
        </div>
        <div class="field">
            <label for="summernote">Blog Post</label>
            <textarea id="summernote" name="blog[body]" placeholder="Give me content, please:)"></textarea>
        </div>
        <!-- NOTE: button elements have a default type of "submit". -->
        <button type="submit" formaction="/blogs" formmethod="GET" class="ui button">Cancel</button>
        <input type="submit" class="ui button" value="Publish">
    </form>
</div>

<% include ./partials/footer %>