<% include ./partials/header %>

<div class="ui stackable grid">
    <div class="ui eight wide column">
        <img class="ui fluid image" src="<%= post.image %>">
    </div>
    <div class="ui eight wide column">
        <!-- Editing Menu -->
        <div class="ui right internal rail">
            <div class="ui segment">
                <a href="/blogs/<%=post.id%>/edit"><i class="edit outline icon"></i></a>
            </div>
        </div>
        
        <!-- Post Content -->
        <div id="blogTitle" class="ui container">
            <span class="date"><%= post.created.toDateString() %></span>
            <h1><%= post.title %></h1>
        </div>
        <div id="blogBody" class="ui container">
            <%- post.body %>
        </div>
        
    </div>
</div>


<% include ./partials/footer %>