.keyboard.icon{
    font-size: 2em !important;
}

body{
    padding-top: 6em;
}
*{
    box-sizing: border-box;
}
#content{
    width: 100%;
    min-height: calc(100vh - 334px);
}

/* Footer stuff */
footer{
    width: 100%;
    min-height: 264px;
    position: relative !important;
    bottom: 0 !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08) inset !important;
    padding: 5em 0em !important;
}
footer.ui.vertical.footer.primary.segment{
    position: relative !important;
    bottom: 0 !important;
    margin-top: 14px;
}
.primary, footer h4{
    background-color: #856D87 !important;
    color: white !important;
}

.date{
    font-size: .7rem;
    letter-spacing: .1em;
    text-transform: uppercase;
}

h2{
    margin-bottom: -5px;
}

#blogBody::first-letter{
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 12px;
  padding-left: 3px;
}
#blogBody, #blogTitle{
    padding: 1em 4em;
}
#blogTitle{
    text-align: center;
}
span + h1{
    margin-top: 0;
}

@media only screen and (min-width: 768px){    
    .ui.fluid.image{
        height: calc(100vh - 56px);
        object-fit: cover;
        margin-top: -28px !important;
        position: fixed;
        width: 50%;
    }
}

/* edit.ejs stuff*/
.ui.right.internal.rail{
    margin: 0;
    padding: 0;
    width: auto;
}
.rail .ui.segment{
    padding: 1.5em;
}